{% extends "base.html" %}
{% block body %}

<h1>Probability Distribution Sampler</h1>
<div class="content">
	<p>This simple web app helps explore some useful <b>probability distributions</b>; and showcases the
		functionality of <em>Flask, SciPy, Pandas, Matplotlib</em> and <em>Seaborn</em>.</p>

	<p>The idea is to enable anyone to:</p>
	<ul>
		<li>get basic facts about a probability distribution</li>
		<li>specificy parameters of choice</li>
		<li>generate a downloadable sample, and</li>
		<li>view graphs and summary statistics.</li>
	</ul>

	<p>To give it a try, please select a distribution:</p>
</div>

<!-- Distribution selection -->
<form action="{{ url_for('summary')}}" method="post">
	<label for="chosen_dist">Probability Distribution: </label>
	<select id="chosen_dist" name='chosen_dist'>
		{% for distribution in data.index %}
		<option value="{{ distribution }}">{{ distribution }}</option>
		{% endfor %}
	</select>
	<input id="submit-dist" class="button" type="submit" value="Submit">
</form>

{% endblock %}