{% extends "base.html" %}
{% block body %}
<div class="content">

	<h1>Probability Distribution Sampler</h1>
	<p>This is a simple web app to help explore some useful <b>probability distributions</b>, and showcase the
		functionality of some Python packages (Flask, SciPy, Pandas, Matplotlib and Seaborn, among others).</p>

	<p>The idea is to enable anyone to: </p>
	<ul>
		<li> get basic facts about a distribution </li>
		<li> specificy parameters of choice</li>
		<li> generate a downloadable sample, and</li>
		<li> view graphs and summary statistics. </li>
	</ul>

	<p>To give it a try, please select a distribution:</p>

	<!-- Distribution selection -->
	<form action="{{ url_for('summary')}}" method="post">
		<label for="chosen_dist">Statistical Distribution: </label>
		<select id="chosen_dist" name='chosen_dist'>
			{% for distribution in data.index %}
			<option value="{{ distribution }}">{{ distribution }}</option>
			{% endfor %}
		</select>
		<input id="submit-dist" class="button" type="submit" value="Submit">
	</form>
</div>
{% endblock %}